:root {
	/* Theme 1 colors */
	--bg-color: hsl(222, 26%, 31%);
	--keypad-bg: hsl(223, 31%, 20%);
	--screen-bg: hsl(224, 36%, 15%);
	--key-bg-gray: hsl(225, 21%, 49%);
	--key-shadow-gray: hsl(224, 28%, 35%);
	--toggle-btn: hsl(6, 63%, 50%);
	--red-shadow: hsl(6, 70%, 34%);
	--key-bg: hsl(30, 25%, 89%);
	--key-shadow: hsl(28, 16%, 65%);
	--text: hsl(221, 14%, 31%);
	--key-font-size: 32px;
	--padding: 1.5rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;

	max-height: 100vh;

	font-family: 'Spartan', 'sans-serif';
	color: #fff;
	background-color: var(--bg-color);
}

main {
	display: flex;
	flex-direction: column;
	gap: var(--padding);

	width: 100%;
	max-width: 630px;
	padding: var(--padding);
}

/* HEADER */
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.themes {
	display: flex;
	align-items: baseline;
}

.themes ul {
	display: flex;
	list-style: none;
	margin-left: 1rem;

	position: relative;
}

.themes ul::after {
	content: '';
	position: absolute;
	bottom: -4px;
	width: 100%;
	height: 53%;
	border-radius: 15px;
	background-color: var(--keypad-bg);
}

.themes p {
	font-size: 0.7rem;
	text-transform: uppercase;
}

.themes ul li {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column-reverse;
	margin: 0 0.3em;
}

.themes ul li:not(input) {
	font-size: 0.8rem;
}

.themes input {
	position: relative;
	background-color: red;

	margin-top: 10px;
	cursor: pointer;
}

.themes input::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	z-index: 99;
}

.themes input:checked:after {
	background-color: var(--toggle-btn);
}

/* MAIN DISPLAY */
.display {
	width: 100%;
}

.display input {
	width: 100%;

	padding: var(--padding);

	font-family: inherit;
	font-size: 32px;
	text-align: right;
	color: #fff;
	border: none;
	border-radius: 15px;
	background: var(--screen-bg);
}

.display input:focus {
	outline: none;
}
/* KEYPAD */
.keypad {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 1fr);
	gap: 1rem;

	padding: var(--padding);
	border-radius: 15px;
	background-color: var(--keypad-bg);
}

.keypad .key {
	display: grid;
	place-items: center;

	padding: 0.5rem;

	font-size: 32px;
	font-family: inherit;

	color: var(--text);
	border: none;
	border-radius: 10px;
	background-color: var(--key-bg);
	box-shadow: 0 5px var(--key-shadow);
	cursor: pointer;
}

.key:focus {
	outline: none;
}

.key.gray {
	font-size: 1rem;
	color: #fff;
	background-color: var(--key-bg-gray);
	box-shadow: 0 5px var(--key-shadow-gray);
}

.key.red {
	color: #fff;
	background-color: var(--toggle-btn);
	box-shadow: 0 5px var(--red-shadow);
}

.key:nth-last-child(3) {
	font-size: 1rem;
}

.key:nth-last-child(2),
.key:nth-last-child(1) {
	grid-column: span 2;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

@media (min-width: 630px) {
	body {
		min-height: 100vh;
	}
	.keypad {
		gap: 1.5rem;
	}
}
